# Игнорировать файлы сборки и временные файлы
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib
*.moc
*.qrc
*.rcc
*.user
*.layout

# Игнорировать специфические файлы Qt
*.pro.user
.qmake.stash

# Игнорировать временные файлы редакторов и системные файлы
.vscode/
.DS_Store
*.swp
*~
Thumbs.db

# Разрешить исходные файлы и файлы настроек
!*.cpp
!*.h
!*.pro
!*.ui
